<a href="https://colab.research.google.com/github/animesh-banik/DataScienceProject_Databriks/blob/Google_Colub/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Complete SQL**

**SQL**

is a standardized language for managing and manipulating relational databases. It allows you to store, retrieve, update, and delete data in database systems.

**Database**:

A collection of related data organized in tables

**Table:**

A structure that organizes data in rows and columns

**Row (Record):**

A single instance of data in a table

**Column (Field):**

A specific attribute or property of the data

**Primary Key:**

A unique identifier for each row in a table

**Foreign Key:**

A field that links to the primary key of another table

**Data Definition Language (DDL)**

Data Definition Language (DDL) is a subset of SQL used to define, manage, and modify the structure of database objects such as: Databases,Tables,Indexes, Views,

DDL Commands : CREATE, ALTER, DROP, TRUNCATE, RENAME,COMMENT

**DML** is a subset of SQL used to manipulate or manage data stored in database tables.

DDL Commands : SELECT, INSERT, UPDATE, DELETE, MERGE

**DCL** is a subset of SQL used to control access and permissions to the database.

DML  Commands : GRANT,REVOKE

TCL is a subset of SQL used to manage transactions in a database.

A transaction is a group of SQL operations executed as a single unit.

**TCL**

(Transaction Control Language)
TCL is a subset of SQL used to manage transactions in a database to ensures that transactions are completed successfully or rolled back in case of an error, maintaining data integrity.

A transaction is a group of SQL operations executed as a single unit.


**TCL Commands** : COMMIT,ROLLBACK,SAVEPOINT,SET TRANSACTION

**All the SQL command systax with example**

**DDL**

**CREATE** - Create a database, table, or index

CREATE TABLE employees (id INT PRIMARY KEY, name VARCHAR(50), salary DECIMAL(10,2));

**ALTER** - Modify an existing table

ALTER TABLE employees ADD COLUMN department_id INT;

**DROP** - Delete table or database

DROP TABLE employees;

**TRUNCATE** - Delete all rows but keep table

TRUNCATE TABLE employees;

**RENAME** - Rename table or object

ALTER TABLE employees RENAME TO staff;

**COMMENT**  - Add comments to table/columns

COMMENT ON COLUMN employees.id IS 'Primary key';


**DML**

**SELECT** - Retrieve data

SELECT * FROM employees;

**INSERT** - Add new rows

INSERT INTO employees (id, name, salary) VALUES (1, 'Alice', 5000);

**UPDATE** - Modify existing rows

UPDATE employees SET salary = 5500 WHERE id = 1;


**DELETE** - Remove rows

DELETE FROM employees WHERE id = 1;


**MERGE** - Insert, update, or delete conditionally

MERGE INTO employees USING temp_table ON employees.id = temp_table.id WHEN MATCHED THEN UPDATE SET salary = temp_table.salary WHEN NOT MATCHED THEN INSERT (id, name, salary) VALUES (temp_table.id, temp_table.name, temp_table.salary);

**DCL**

**GRANT**- Give privileges to users/roles

GRANT SELECT, INSERT ON employees TO user1;

**REVOKE**- Remove privileges

REVOKE INSERT ON employees FROM user1;

**TCL**

**COMMIT** - Save all changes permanently

COMMIT;

***ROLLBACK*** - Undo changes in a transaction

ROLLBACK;

**SAVEPOINT**- Set a point to roll back to within a transaction

SAVEPOINT sp1;

CREATE - CREATE TABLE employees (id INT PRIMARY KEY, name VARCHAR(50), salary DECIMAL(10,2));

**Clauses (used inside SELECT statements)**



**WHERE** - Filter rows

SELECT * FROM employees WHERE salary > 5000;

**ORDER BY** - Sort results

SELECT * FROM employees ORDER BY salary DESC;

**GROUP BY** - Group rows

SELECT department_id, AVG(salary) FROM employees GROUP BY department_id;

**HAVING** - Filter groups

SELECT department_id, COUNT(*) FROM employees GROUP BY department_id HAVING COUNT(*) > 5;

**DISTINCT** -  Remove duplicates

SELECT DISTINCT department_id FROM employees;


**LIMIT / TOP** -Restrict rows

SELECT * FROM employees LIMIT 5;

**Functions & Operators Keywords**

**COUNT()** - Count rows

SELECT COUNT(*) FROM employees;

**SUM()**- Add values

SELECT SUM(salary) FROM employees;

**AVG()** - Average

SELECT AVG(salary) FROM employees;

**MAX()** - Highest value

SELECT MAX(salary) FROM employees;

**MIN()** - Lowest value

SELECT MIN(salary) FROM employees;

**LIKE **- Pattern match

SELECT * FROM employees WHERE name LIKE 'A%';

**BETWEEN** -Range check

SELECT * FROM employees WHERE salary BETWEEN 4000 AND 6000;

**IN** - Multiple values

SELECT * FROM employees WHERE department_id IN (1,2,3);

**IS NULL** - Check for nulls

SELECT * FROM employees WHERE salary IS NULL;

**Other Important Keywords**

**PRIMARY KEY** - Uniquely identify a row

id INT PRIMARY KEY

**FOREIGN KEY** - Reference another table

FOREIGN KEY (department_id) REFERENCES departments(id)

**CHECK** -Constraint on values

salary DECIMAL CHECK (salary > 0)

**DEFAULT** - Provide default value

hire_date DATE DEFAULT CURRENT_DATE

**INDEX** - Improve query speed

CREATE INDEX idx_salary ON employees(salary);

**VIEW** - Virtual table

CREATE VIEW emp_view AS SELECT name, salary FROM employees;

**Join opearation in sql**

Used to combine data from multiple tables

**INNER JOIN** - Returns only the rows that have matching values in both tables.

SELECT e.name, d.department_name FROM employees e INNER JOIN departments d ON e.department_id = d.id;


**LEFT JOIN** -Returns all rows from the left table, plus matching rows from the right. If no match, shows NULL

SELECT e.name, d.department_name FROM employees e LEFT JOIN departments d ON e.department_id = d.id;

**RIGHT JOIN**-Returns all rows from the right table, plus matching rows from the left

SELECT e.name, d.department_name
FROM employees e
RIGHT JOIN departments d
ON e.department_id = d.id;

**FULL JOIN**- Returns all rows when there is a match in either table; unmatched rows get NULL

SELECT e.name, d.department_name
FROM employees e
FULL OUTER JOIN departments d
ON e.department_id = d.id;


**CROSS JOIN**- Returns the Cartesian product — every row of table A with every row of table B.

SELECT e.name, d.department_name
FROM employees e
CROSS JOIN departments d;

**SELF JOIN**
Joins a table to itself (useful for hierarchical data, like employees and managers).

SELECT e1.name AS employee, e2.name AS manager
FROM employees e1
JOIN employees e2
ON e1.department_id = e2.id;  -- just an example relationship

**Install MySQL**

In [5]:
# Install MySQL server
!apt-get update -q
!apt-get install -y mysql-server

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:3 https://cli.github.com/packages stable InRelease [3,917 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:6 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [2,006 kB]
Get:9 https://cli.github.com/packages stable/main amd64 Packages [346 B]
Hit:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:12 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,797 kB]
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,581 kB]
Get:16 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,267 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,274 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [5,627 kB]
Get:19 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,310 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,623 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [88.8 kB]
Fetched 30.0 MB in 3s (10.0 MB/s)
Reading package lists...
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server-8.0
  mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server mysql-server-8.0
  mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 49 not upgraded.
Need to get 29.7 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.43-0ubuntu0.22.04.1 [2,706 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.43-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.4 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.43-0ubuntu0.22.04.1 [17.8 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.43-0ubuntu0.22.04.1 [1,446 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi0ldbl amd64 2.4.2-2ubuntu0.1 [28.1 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi-bin amd64 2.4.2-2ubuntu0.1 [11.1 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.43-0ubuntu0.22.04.1 [9,454 B]
Fetched 29.7 MB in 1s (48.7 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 126374 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.43-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.43-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.43-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.43-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.4_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.43-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.43-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.43-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.43-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.43-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.43-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.43-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2ubuntu0.1) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.43-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.43-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.43-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 25007
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.43-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

**Start MySQL**

In [6]:
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

**Version of MySQL**

In [7]:
!mysql -uroot -proot -e "SELECT VERSION();"

mysql: [Warning] Using a password on the command line interface can be insecure.
+-------------------------+
| VERSION()               |
+-------------------------+
| 8.0.43-0ubuntu0.22.04.1 |
+-------------------------+

**Create Data Base WithName test1db**

In [13]:
!mysql -uroot -proot -e "CREATE DATABASE testdb;"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Show Data Bases**

In [14]:
!mysql -uroot -proot -e "SHOW DATABASES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| test1db            |
| testdb             |
+--------------------+

**Create a Table in test database**

In [15]:
!mysql -uroot -proot -e "USE testdb; CREATE TABLE users(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50));"

mysql: [Warning] Using a password on the command line interface can be insecure.

**InSert Value in data Bases**

In [16]:
!mysql -uroot -proot -e "USE testdb; INSERT INTO users(name) VALUES('Animesh');"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Show Table Values**

In [17]:
!mysql -uroot -proot -e "USE testdb; SELECT * FROM users;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+---------+
| id | name    |
+----+---------+
|  1 | Animesh |
+----+---------+

**Create Employee Table **

In [18]:
!mysql -uroot -proot -e "USE testdb; CREATE TABLE employees ( \
    id INT PRIMARY KEY AUTO_INCREMENT,\
    first_name VARCHAR(50) NOT NULL,\
    last_name VARCHAR(50) NOT NULL,\
    email VARCHAR(100) UNIQUE,\
    phone VARCHAR(15),\
    hire_date DATE,\
    salary DECIMAL(10,2),\
    department_id INT,\
    manager_id INT,\
    is_active BOOLEAN DEFAULT TRUE,\
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\
    );"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Insert values in Employee Table**

In [19]:
!mysql -uroot -proot -e "USE testdb; INSERT INTO employees \
(first_name, last_name, email, salary, department_id) \
VALUES('John', 'Doe', 'john.doe@company.com', 65000, 1);"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Show the value in Employee Table**

In [20]:
!mysql -uroot -proot -e "USE testdb; SELECT * FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+----------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+----------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com | NULL  | NULL      | 65000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
+----+------------+-----------+----------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

**Insert Multiple row**

In [21]:
!mysql -uroot -proot -e "USE testdb; INSERT INTO employees \
(first_name, last_name, email, salary, department_id) VALUES \
('Jane', 'Smith', 'jane.smith@company.com', 70000, 2), \
('Bob', 'Johnson', 'bob.johnson@company.com', 55000, 1), \
('Alice', 'Brown', 'alice.brown@company.com', 80000, 3); "

mysql: [Warning] Using a password on the command line interface can be insecure.

In [22]:
!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 65000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

**Update Command**

Modify existing data.

In [23]:
!mysql -uroot -proot -e "USE testdb; \
UPDATE employees SET salary = 75000 WHERE id = 1;"

mysql: [Warning] Using a password on the command line interface can be insecure.

In [24]:
!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

**SQL Clauses**

In [27]:
# SQL Clauses (inside SELECT statements)

!mysql -uroot -proot -e "USE testdb; \
SELECT first_name , salary FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+------------+----------+
| first_name | salary   |
+------------+----------+
| John       | 75000.00 |
| Jane       | 70000.00 |
| Bob        | 55000.00 |
| Alice      | 80000.00 |
+------------+----------+

In [28]:
# FROM Clause
!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

In [30]:
# WHERE Clause
!mysql -uroot -proot -e "USE testdb; \
SELECT first_name , salary FROM employees WHERE salary > 5000;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+------------+----------+
| first_name | salary   |
+------------+----------+
| John       | 75000.00 |
| Jane       | 70000.00 |
| Bob        | 55000.00 |
| Alice      | 80000.00 |
+------------+----------+

In [36]:
# GROUP BY Clause

!mysql -uroot -proot -e "USE testdb; \
SELECT department_id, AVG(salary) AS avg_salary FROM employees GROUP BY department_id;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+---------------+--------------+
| department_id | avg_salary   |
+---------------+--------------+
|             1 | 65000.000000 |
|             2 | 70000.000000 |
|             3 | 80000.000000 |
+---------------+--------------+

In [33]:
# HAVING Clause

!mysql -uroot -proot -e "USE testdb; \
SELECT department_id, COUNT(*) AS emp_count FROM employees GROUP BY department_id HAVING COUNT(*) > 1;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+---------------+-----------+
| department_id | emp_count |
+---------------+-----------+
|             1 |         2 |
+---------------+-----------+

In [38]:
# ORDER BY Clause

!mysql -uroot -proot -e "USE testdb; \
SELECT first_name , salary  FROM employees  ORDER BY salary DESC;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+------------+----------+
| first_name | salary   |
+------------+----------+
| Alice      | 80000.00 |
| John       | 75000.00 |
| Jane       | 70000.00 |
| Bob        | 55000.00 |
+------------+----------+

In [39]:
# DISTINCT Clause - Removes duplicate rows.

!mysql -uroot -proot -e "USE testdb; \
SELECT DISTINCT department_id  FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+---------------+
| department_id |
+---------------+
|             1 |
|             2 |
|             3 |
+---------------+

In [44]:
# LIMIT / OFFSET

!mysql -uroot -proot -e "USE testdb; \
SELECT *  FROM employees LIMIT 1 OFFSET 3;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

In [49]:
# Top
!mysql -uroot -proot -e "USE testdb; \
SELECT TOP 3 * FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

**Functions & Operators Keywords**

In [53]:
# SQL Operators

# Comparison Operators

!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees WHERE salary > 5000;"

!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees WHERE salary = 75000;"

!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees WHERE salary <> 6000;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+----------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+----------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
+----+------------+-----------+----------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

In [54]:
# Logical Operators

!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees WHERE salary > 4000 AND department_id = 1;"

!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees WHERE salary > 4000 OR department_id = 2;"

!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees WHERE NOT department_id = 3;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

In [60]:
# Other Common Operators
# _______________________BETWEEN _______________

!mysql -uroot -proot -e "USE testdb; \
 SELECT * FROM employees WHERE salary BETWEEN 5000 AND 6000;"

# _______________________IN _______________

!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees WHERE department_id IN (1, 2, 3);"

#________________________Like _______________

!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees WHERE first_name  LIKE 'A%';"

#____________________________IS NULL___________________

!mysql -uroot -proot -e "USE testdb; \
 SELECT * FROM employees WHERE department_id IS NULL;"

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:32 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-14 12:05:40 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-14 12:05:40 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-14 12:05:40 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
mysql: [Warning] Using a password on the command line interface can be insecure.