<a href="https://colab.research.google.com/github/animesh-banik/DataScienceProject_Databriks/blob/Google_Colub/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Install MySQL**

In [6]:
# Install MySQL server
!apt-get update -q
!apt-get install -y mysql-server

Hit:1 https://cli.github.com/packages stable InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists...
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.43-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 45 not upgraded.

**Start MySQL**

In [7]:
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

**Version of MySQL**

In [8]:
!mysql -uroot -proot -e "SELECT VERSION();"

mysql: [Warning] Using a password on the command line interface can be insecure.
+-------------------------+
| VERSION()               |
+-------------------------+
| 8.0.43-0ubuntu0.22.04.1 |
+-------------------------+

**Create Data Base WithName test1db**

In [13]:
!mysql -uroot -proot -e "CREATE DATABASE test1db;"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Show Data Bases**

In [14]:
!mysql -uroot -proot -e "SHOW DATABASES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| test1db            |
| testdb             |
+--------------------+

**Create a Table in test database**

In [15]:
!mysql -uroot -proot -e "USE testdb; CREATE TABLE users(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50));"

mysql: [Warning] Using a password on the command line interface can be insecure.

**InSert Value in data Bases**

In [16]:
!mysql -uroot -proot -e "USE testdb; INSERT INTO users(name) VALUES('Animesh');"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Show Table Values**

In [17]:
!mysql -uroot -proot -e "USE testdb; SELECT * FROM users;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+---------+
| id | name    |
+----+---------+
|  1 | Animesh |
+----+---------+