<a href="https://colab.research.google.com/github/animesh-banik/DataScienceProject_Databriks/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Install MySQL**

In [6]:
# Install MySQL server
!apt-get update -q
!apt-get install -y mysql-server

Hit:1 https://cli.github.com/packages stable InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists...
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.43-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 45 not upgraded.

**Start MySQL**

In [7]:
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

**Version of MySQL**

In [8]:
!mysql -uroot -proot -e "SELECT VERSION();"

mysql: [Warning] Using a password on the command line interface can be insecure.
+-------------------------+
| VERSION()               |
+-------------------------+
| 8.0.43-0ubuntu0.22.04.1 |
+-------------------------+

**Create Data Base WithName test1db**

In [13]:
!mysql -uroot -proot -e "CREATE DATABASE test1db;"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Show Data Bases**

In [14]:
!mysql -uroot -proot -e "SHOW DATABASES;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| test1db            |
| testdb             |
+--------------------+

**Create a Table in test database**

In [15]:
!mysql -uroot -proot -e "USE testdb; CREATE TABLE users(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50));"

mysql: [Warning] Using a password on the command line interface can be insecure.

**InSert Value in data Bases**

In [16]:
!mysql -uroot -proot -e "USE testdb; INSERT INTO users(name) VALUES('Animesh');"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Show Table Values**

In [21]:
!mysql -uroot -proot -e "USE testdb; SELECT * FROM users;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+---------+
| id | name    |
+----+---------+
|  1 | Animesh |
+----+---------+

**Create Employee Table **

In [19]:
!mysql -uroot -proot -e "USE testdb; CREATE TABLE employees ( \
    id INT PRIMARY KEY AUTO_INCREMENT,\
    first_name VARCHAR(50) NOT NULL,\
    last_name VARCHAR(50) NOT NULL,\
    email VARCHAR(100) UNIQUE,\
    phone VARCHAR(15),\
    hire_date DATE,\
    salary DECIMAL(10,2),\
    department_id INT,\
    manager_id INT,\
    is_active BOOLEAN DEFAULT TRUE,\
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\
    );"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Insert values in Employee Table**

In [27]:
!mysql -uroot -proot -e "USE testdb; INSERT INTO employees \
(first_name, last_name, email, salary, department_id) \
VALUES('John', 'Doe', 'john.doe@company.com', 65000, 1);"

mysql: [Warning] Using a password on the command line interface can be insecure.

**Show the value in Employee Table**

In [32]:
!mysql -uroot -proot -e "USE testdb; SELECT * FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 65000.00 |             1 |       NULL |         1 | 2025-09-11 18:25:12 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-11 18:33:47 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-11 18:33:47 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-11 18:33:47 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

**Insert Multiple row**

In [31]:
!mysql -uroot -proot -e "USE testdb; INSERT INTO employees \
(first_name, last_name, email, salary, department_id) VALUES \
('Jane', 'Smith', 'jane.smith@company.com', 70000, 2), \
('Bob', 'Johnson', 'bob.johnson@company.com', 55000, 1), \
('Alice', 'Brown', 'alice.brown@company.com', 80000, 3); "

mysql: [Warning] Using a password on the command line interface can be insecure.

In [34]:
!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 65000.00 |             1 |       NULL |         1 | 2025-09-11 18:25:12 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-11 18:33:47 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-11 18:33:47 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-11 18:33:47 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+

**Update Command**

Modify existing data.

In [35]:
!mysql -uroot -proot -e "USE testdb; \
UPDATE employees SET salary = 75000 WHERE id = 1;"

mysql: [Warning] Using a password on the command line interface can be insecure.

In [36]:
!mysql -uroot -proot -e "USE testdb; \
SELECT * FROM employees;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
| id | first_name | last_name | email                   | phone | hire_date | salary   | department_id | manager_id | is_active | created_at          |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+
|  1 | John       | Doe       | john.doe@company.com    | NULL  | NULL      | 75000.00 |             1 |       NULL |         1 | 2025-09-11 18:25:12 |
|  2 | Jane       | Smith     | jane.smith@company.com  | NULL  | NULL      | 70000.00 |             2 |       NULL |         1 | 2025-09-11 18:33:47 |
|  3 | Bob        | Johnson   | bob.johnson@company.com | NULL  | NULL      | 55000.00 |             1 |       NULL |         1 | 2025-09-11 18:33:47 |
|  4 | Alice      | Brown     | alice.brown@company.com | NULL  | NULL      | 80000.00 |             3 |       NULL |         1 | 2025-09-11 18:33:47 |
+----+------------+-----------+-------------------------+-------+-----------+----------+---------------+------------+-----------+---------------------+